body {
  background-color: #0b0d17;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
  color: #ffffff;
  margin: 0;
}

h1 {
  font-family: 'Bellefair', serif;
  font-size: 130px;
  margin: 0;
}

h2 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
}

h3 {
  font-family: 'Bellefair', serif;
  font-size: 56px;
}

h4 {
  font-family: 'Bellefair', serif;
  font-size: 24px;
  color: #0b0d17;
  position: relative;
  top: 50px;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0.29em;
  margin: 0;
  color: #d0d6f9;
}

p {
  font-size: 14px;
  line-height: 1.5em;
  color: #d0d6f9;
}

.logo {
  position: absolute;
  top: 64px;
  left: 55px;
}

.nav-line {
  background-color: #ffffff;
  width: 425px;
  height: 1px;
  position: absolute;
  left: 167px;
  top: 88px;
  opacity: 0.5;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.04);
  opacity: 0.85;
  width: 750px;
  height: 90px;
  position: absolute;
  right: 0;
  top: 40px;
  backdrop-filter: blur(81.5485px);
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  margin: 37px 30px 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  padding-bottom: 35px;
}

.nav-link:hover {
  border-bottom: 2px solid #778899;
}

.home-left-side {
  width: 400px;
  height: 280px;
  position: absolute;
  left: 135px;
  top: 250px;
}

.home-right-side {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 900px;
  top: 300px;
  text-align: center;
  border-radius: 50%;
}

.activated {
  border-bottom: 2px solid #ffffff;
}
